# aws configure==0.5
awscli==1.38.19
boto3
python-dotenv==1.1.0
torch==2.5.1
transformers==4.45.2
pinecone==5.4.2
opensearch-py==2.8.0
openai==1.66.3
ai71==0.0.23
pandas==2.2.3
jsonschema==4.23.0
rank_bm25==0.2.2
scikit-learn==1.6.1